* {
	margin:0;
	border:0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

html, body {
	height:100%;
}

.wrapper {
	min-height:100%;
	margin:0 auto -60px;
	padding-bottom:120px;
}

footer {
	height:60px;
	padding:10px 0;
}

footer #info {
	margin-left:100px;
}

footer .right {
	float:right;
}

footer .right a {
	margin:0 5px;
}

body {
	text-align:center;
}

header {
	position:relative;
	height:60px;
	line-height:60px;
    min-width:1200px;
	text-align:center;
	margin-bottom:60px;
}

.bg {
	display:inline-block;
	padding:0 10px;
	line-height:33.33px;
}

section {
	display:inline-block;
	width:1200px;
	text-align:left;
	margin-bottom:60px;
}

#logo {
	display:inline-block;
	width:180px;
	height:60px;
}

header nav {
	float:right;
	line-height:60px;
	height:60px;
}

header nav a {
	display:inline-block;
	padding:0 10px;
}

header #number {
	margin-left:5px;
	width:30px;
	height:30px;
	line-height:30px;
}

header #notifications {
	position:absolute;
	z-index:99;
	line-height:20px;
	width:300px;
	padding:10px;
	text-align:center;
}

header #notifications p {
	line-height:40px;
}

header #notifications a {
	padding:0;
}

<<<<<<< HEAD:public/css/layout.css
server-view {
=======
community-view {
>>>>>>> develop:public/assets/css/layout.css
	position:relative;
	display:inline-block;
	width:570px;
	height:138px;
	margin:10px 20px;
}

community-view .loading {
	display:block;
	position:absolute;
	top:0; right: 0; bottom: 0; left: 0;
	width:570px; height:138px;
	text-align:center;
	line-height:100px;
}

community-view.left {
	margin-right:10px;
}

community-view.right {
	margin-left:10px;
}

community-view span {
	display:block;
	float:none;
	height:33.33px;
	line-height:33.33px;
}

community-view .title {
	width:570px;
}

community-view .banner {
	width:400px;
	height:100px;
	float:left;
}

community-view .info {
	width:170px;
	float:left;
}

community-view .feedback .badge {
	display:inline;
	padding:0.15em 0.25em;
}

p.msg {
    text-align:center;
    padding:20px 0;
}

comment-view {
	display:block;
	position:relative;
}

comment-view .avatar {
	width:44px;
	height:44px;
	margin-right:10px;
}

comment-view .top {
	font-size:14px;
	vertical-align:top;
}

comment-view .datetime {
	font-size:12px;
	
	position:relative;
	top:2px;
}

comment-view .comment {
	position:relative;
	top:-30px;
	right:-48px;
	padding-left:12px;
	padding-right:48px;
}

comment-view .comment.rated {
	padding-right:93px;
}

comment-view .review {
	position:absolute;
	width:35px;
	height:35px;
	right:0;
	top:10px;
}