* {
	font-family:Open Sans;
}

h1 {
	color:#555;
	font-size:24px;
}

header {
	background:#00A1E4;
}

footer {
	font-size:14px;
	border-top:1px solid #ccc;
}

footer #info {
	/* font-size:14px; */
}

footer a {
	text-decoration:underline;
}

a {
	text-decoration:none;
	color:#fff;

	transition-property:color, border;
	transition-duration:0.25s;
}

header a:hover {
	color:#eee;
	border-color:#eee;
}

header a[ng-click] {
	cursor:pointer;
}

header #notifications {
	background:#fff;
	border:1px solid #ccc;
	border-top:0;
}

.bg {
	background:#00A1E4;
	font-size:16px;
}

a.bg {
	transition-property:background;
	transition-duration:0.25s;
}

a.bg:hover {
	background:#19BCFF;
}

a.bg.active {
	background:#19BCFF;
}

a.bg.active:hover {
	background:#00A1E4;
}

.bg.red {
	background:#B5122F;
}

a.bg.red:hover {
	background:#E8173C;
}

.bg.red.active {
	background:#E8173C;
}

a.bg.red.active:hover {
	background:#B5122F;
}

.fg {
	color:#00A1E4;
}

a.fg:hover {
	color:#19BCFF;
}

.fg.red {
	color:#E8173C;
}

#logo {
	background:url(/assets/img/logo.svg) center center / cover;
}

community-view {
	font-size:0;
}

<<<<<<< HEAD:public/css/styles.css
server-view .info p {
	background:#ddd;
	color:#000;
=======
community-view .loading {
	font-size:20px;
	color:#ccc;
}

community-view span {
	font-size:16px;
>>>>>>> develop:public/assets/css/styles.css
}

community-view .title {
	background:#00a1e4;
	color:#fff;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;
	white-space:nowrap;
}

community-view .info span {
	text-align:center;
	color:#000;
	background:#eee;
}

community-view .info .feedback {
	background:none;
}

community-view .info .feedback .badge {
	border-radius:6px;
	color:#fff;
}

community-view .info .servers {
	background:#ddd;
}

comment-view .avatar {
	border:2px solid #ccc;
}

comment-view .datetime {
	color:#333;
}

comment-view .review {
	color:#fff;
}