<style>
	#splash {
		position:relative;
		height:100px;
		text-align:center;
	}

	#splash h1 {
		font-size:38px;
		font-weight:700;

		margin-top:25px;
	}

	#splash a {
		font-size:24px;
		font-weight:400;
		
		position:relative;
		padding:10px;
	}
	
	.name {
		text-transform:capitalize;
	}
	
	.right {
		float:right;
	}
	
	.category {
		margin-bottom:60px;
	}
</style>

<section ng-hide="user" id="splash">
	<h1>Welcome to GMOD Prime!</h1>

	<a class="fg" href="/getstarted">Click here to get started</a>
</section>

<section ng-show="fetching"><p class="msg">Fetching data...</p></section>

<section ng-hide="fetching">
	<div ng-class="{category:!$last}" ng-repeat="(name, cat) in categories">
		<h1 class="name">{{name}} Communities</h1>

		<p class="msg" ng-hide="cat.length">Nothing here, boss!</p>

		<div class="container" ng-show="cat.length">
			<community-view ng-repeat="community in cat track by $index" ng-class="{left:$even, right:$odd}"></community-view>
		</div>
	</div>
	
	<a class="fg right" href="/search">Not what you're looking for?</a>
</section>