<style>
	#servers .col {
		display:inline-block;
	}

	#servers .sidebar {
		position:fixed;
		width:300px;
		text-align:center;
	}

	#servers .left {
		float:left;
	}

	#servers .right {
		float:right;
	}

	#servers #newdiv {
		text-align:center;
		margin-bottom:50px;
		visibility:hidden;
	}

	#servers #newdiv.show {
		visibility:visible;
	}

	#servers #new {
		display:inline-block;
		color:#fff !important;
	}

	#servers #noresults, #servers #results {
		width:900px;
		text-align:center;
	}

	#servers server-view {
		display:inline-block;
		margin:10px 0;
		text-align:left;
	}

	#servers .pagination {
		text-align:center;
		margin-bottom:10px;
	}

	#servers .pagination a {
		color:#666;
		cursor:pointer;
	}

	#servers .pagination i {
		padding:0 5px;
	}

	#servers .pagination .page {
		margin:0 5px;
	}

	#servers .pagination .active {
		text-decoration:underline;
	}

	#servers .pagination .disabled {
		color:#ccc;
		cursor:default;
	}

	#servers #settings {
		text-align:left;
	}

	#servers #settings input, #servers #settings select {
		font-size:16px;
		border:1px solid #ccc;
	}

	#servers #settings #search {
		width:100%;
		padding:0 5px;
	}

	#servers #settings #remove {
		float:right;
	}

	#servers #settings #search, #servers #settings p {
		margin-bottom:10px;
	}

	#servers #settings select {
		float:right;
		width:50%;
	}

	#servers #settings a, #servers .pagination .page {
		color:#00A1E4;
	}

	#servers #settings hr {
		border-top:1px solid #ccc;
		margin:10px 0;
	}

	#servers #settings .criteria {
		margin-bottom:10px;
	}

	#servers #settings .criteria.last {
		margin-bottom:0;
	}

	#servers #settings .hidden {
		visibility:hidden;
	}

	#servers #settings #hr2 {
		margin-top:15px;
	}

	#servers #categories {
		list-style:none;
		padding-left:20px;
	}
</style>

<section id="servers">
	<p id="noresults" class="col" ng-hide="results.length">No servers found.</p>
	<div id="results" class="col right" ng-show="results.length">
		<div class="pagination">
			<a ng-click="setPage(0)" ng-class="{disabled:isPage(0)}"><i class="fa fa-angle-double-left"></i></a>
			<a ng-click="prevPage()" ng-class="{disabled:isPage(0)}"><i class="fa fa-angle-left"></i></a>
			<a ng-click="setPage(page)" ng-class="{active:isPage(page)}" class="page" ng-repeat="page in pages()">{{page + 1}}</a>
			<a ng-click="nextPage()" ng-class="{disabled:isPage(numpages - 1)}"><i class="fa fa-angle-right"></i></a>
			<a ng-click="setPage(numpages - 1)" ng-class="{disabled:isPage(numpages - 1)}"><i class="fa fa-angle-double-right"></i></a>
		</div>

		<server-view ng-repeat="server in results"></server-view>

		<div class="pagination">
			<a ng-click="setPage(0)" ng-class="{disabled:isPage(0)}"><i class="fa fa-angle-double-left"></i></a>
			<a ng-click="prevPage()" ng-class="{disabled:isPage(0)}"><i class="fa fa-angle-left"></i></a>
			<a ng-click="setPage(page)" ng-class="{active:isPage(page)}" class="page" ng-repeat="page in pages()">{{page + 1}}</a>
			<a ng-click="nextPage()" ng-class="{disabled:isPage(numpages - 1)}"><i class="fa fa-angle-right"></i></a>
			<a ng-click="setPage(numpages - 1)" ng-class="{disabled:isPage(numpages - 1)}"><i class="fa fa-angle-double-right"></i></a>
		</div>
	</div>

	<div class="col sidebar left" id="settings">
		<div id="newdiv" ng-class="{show:user}"><a href="/servers/new" id="new" class="bg red"><i class="fa fa-plus"></i> Add a Server</a></div>

		<div class="filter" ng-repeat="filter in filters" ng-hide="filter.hidden">
			<input id="search" type="text" placeholder="Search" ng-model="filter.value" ng-change="fetchServers()">

			<p>Search by: <select class="criteria" ng-class="{last: $last}" ng-model="filter.field" ng-change="updateUnused(); fetchServers();"
				ng-options="field.value as field.name for field in criteria">
				</select>
			</p>
		</div>

		<a href ng-click="addFilter()" ng-class="{hidden:(filters.length == criteria.length)}"><i class="fa fa-plus"></i> Add Search Filter</a>
		<a href ng-click="removeFilter()" class="right" ng-show="filters[0]"><i class="fa fa-minus"></i> Remove Filter</a>

		<hr />

		<p>Sort by: <select ng-model="sortBy" ng-model="sortBy" ng-change="fetchServers()"
			ng-options="option.value as option.name for option in sortOptions">
		</select></p>

		<p>Order by: <select ng-model="orderBy" ng-change="fetchServers()">
			<option value selected>Descending</option>
			<option value="1">Ascending</option>
		</select></p>

		<!-- <hr id="hr2" />

		<p>List by category:</p>
		<ul id="categories">
			<li><a href>All</a>
			<li ng-repeat="cat in categories"><a href ng-click="setCategory('{{cat}}')">{{cat}}</a></li>
		</ul> -->
	</div>
</section>