<style>
	#splash {
		position:relative;
		height:100px;
		text-align:center;
	}

	#splash h1 {
		font-size:38px;
		font-weight:700;

		margin-top:25px;
	}

	#splash a {
		font-size:24px;
		font-weight:400;
		
		position:relative;
		padding:10px;
	}
</style>

<section ng-hide="user" id="splash">
	<h1>Welcome to GMOD Prime!</h1>

	<a class="fg" href="/getstarted">Click here to get started</a>
</section>

<section ng-hide="servers || sponsored"><p class="msg">Fetching data...</p></section>

<section>
	<div ng-show="sponsored">
		<h1>Sponsored Servers</h1>

		<div class="container">
			<server-view ng-repeat="server in sponsored" ng-class="{left:$even, right:$odd}"></server-view>
		</div>
	</div>
	
	<!-- <div>
		<h1>Featured Servers</h1>

		<p class="msg" ng-hide="servers.length">Nothing here, boss!</p>

		<div class="container" ng-show="servers.length">
			<server-view ng-repeat="server in servers" ng-class="{left:$even, right:$odd}"></server-view>
		</div>
	</div> -->
	
	<div id="top">
		<h1>New Servers</h1>

		<p class="msg" ng-hide="servers.length">Nothing here, boss!</p>

		<div class="container" ng-show="servers.length">
			<server-view ng-repeat="server in servers" ng-class="{left:$even, right:$odd}"></server-view>
		</div>
	</div>
	
	<!-- <div>
		<h1>Random Servers</h1>

		<p class="msg" ng-hide="servers.length">Nothing here, boss!</p>

		<div class="container" ng-show="servers.length">
			<server-view ng-repeat="server in servers" ng-class="{left:$even, right:$odd}"></server-view>
		</div>
	</div> -->
</section>