<!doctype html>
<html>
<head>
<meta charset="utf-8">
<base href="/">

<script src="/assets/js/angular.min.js"></script>
<script src="/assets/js/angular-route.min.js"></script>

<script src="/app/directives/directives.js"></script>
<script src="/app/routes/footer.js"></script>
<script src="/app/routes/users.js"></script>
<script src="/app/routes/communities.js"></script>
<script src="/app/routes/forms.js"></script>
	
<script src="/app/controllers/main.js"></script>

<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="/assets/css/layout.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title>Garry's Mod Servers | GMOD Prime</title>
</head>

<body ng-app="mainApp">
	<div class="wrapper">
		<header>
			<section>
				<a href="/" id="logo"></a>

				<nav>
					<a ng-click="toggleNotifications()" ng-show="user"><i class="fa fa-bell"></i> Notifications <span id="number" class="bg red active" ng-show="unread">{{unread}}</span></a>
					<div id="notifications" ng-show="showNotifications">
						<p ng-hide="notifications.length">All good!</p>
						<p ng-repeat="note in notifications">
							{{note.str}} <a ng-href="{{note.link}}" class="fg">{{note.label}}</a>
						</p>
					</div>
					
					<a href="/search"><i class="fa fa-list-ul"></i> Communities</a>
					<a href="/login" target="_self" ng-hide="user"><i class="fa fa-steam"></i> Login</a>
					<a href="/user" ng-show="user"><i class="fa fa-user"></i> My Account</a>
					<!-- <a href="/logout" target="_self" ng-show="user"><i class="fa fa-power-off"></i> Logout</a> -->
				</nav>
			</section>
		</header>

		<main ng-view>
		</main>
	</div>
	
	<footer>
		<section>
			GMOD Prime &copy; <a class="fg" href="http://andrewault.me">Andrew Ault</a> 2014
			
			<span id="info">
				Home of {{info.communities}} communities and {{info.users}} users ({{info.active}} active)
			</span>
			
			<span class="right">
				<a class="fg" href="/terms">User Agreement</a>
				<a class="fg" href="/privacy">Privacy Policy</a>
				<a class="fg" href="/contact">Contact</a>
				<a class="fg" href="/getstarted">Getting Started</a>
				<a class="fg" href="/faq">FAQ</a>
				<a class="fg" href="http://www.garrysmod.com/">GMOD</a>
			</span>
		</section>
	</footer>
</body>
</html>
